    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Menu</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="/Profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
                    </li>
                    <li>
                        <a href="/logout" class="waves-effect"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- End Left Sidebar -->

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="topbar" class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/logout">Logout</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <!-- Different data widgets -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Mood Entries</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span id="mood-count" class="counter text-success"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Happy Days</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span id="happy-days" class="counter text-purple"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Feeling Okay Days</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span id="sad-days" class="counter text-info"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--/.row -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box-graph">
                            <h3 class="box-title">Mood</h3>
                            <div id="ct-visits" style="height: 405px;"></div>
                        </div>
                    </div>
                </div>

                <!-- table -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                                <select id="scoreFilter" class="form-control pull-right row b-none">
                                </select>
                            </div>
                            <h3 class="box-title">Mood Ratings<button id="add-mood" class="fa fa-plus-square-o rb about_popup_open"></button></h3> 
                             <div id="about_popup" style="display: none;transform:scale(1);">
                                <div class='overlaycontent'>
                                <form class="login-form mt-3" action="/api/scores" method="post">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input id="date" type="date" class="form-control" name="date">
                                    </div>
                                    <div class="form-group">
                                        <label>Score</label>
                                        <select class="form-control" name="score">
                                            <option value="1"> 1 </option>
                                            <option value="2"> 2 </option>
                                            <option value="3"> 3 </option>
                                            <option value="4"> 4 </option>
                                            <option value="5"> 5 </option>
                                            <option value="6"> 6 </option>
                                            <option value="7"> 7 </option>
                                            <option value="8"> 8 </option>
                                            <option value="9"> 9 </option>
                                            <option value="10"> 10 </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <textarea class="form-control" name="comment" rows="3"></textarea> 
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
                                </form>
                                        
                                </div>  
                              </div>
                            
                            <div class="table-responsive">
                                <table id="scoresTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Mood</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <!-- This need to be updated to be populated from frontend -->
                                    <tbody>
                                         {{#each scores}}
                                          <tr >
                                            <td> {{ this.date }} </td>
                                            <td> {{ this.score }} </td>
                                            <td class="txt-oflo"> {{ this.comment }} </td>
                                            <td><button class="fa fa-trash rb" value={{this.date}}></button> </td>
                                          </tr>
                                          {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; MoodTracker  </footer>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Wrapper -->

    <!-- All Jquery -->
    <script src="assets/dashboard/plugins/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="assets/dashboard/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="assets/dashboard/js/waves.js"></script>
    <!--Counter js -->
    <script src="assets/dashboard/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="assets/dashboard/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="assets/dashboard/plugins/chartist-js/dist/chartist.js"></script>
    <script src="assets/dashboard/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="assets/dashboard/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="assets/dashboard/js/custom.min.js"></script>
    <script src="assets/dashboard/js/dashboard1.js"></script>
    <script src="assets/dashboard/js/overlay.js"></script>
    <script type="text/javascript" src="assets/js/validator.js"></script>



