<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/sun.png">
    <title>MoodTracker</title>

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/dashboard/plugins/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/dashboard/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="assets/dashboard/plugins/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="assets/dashboard/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="assets/dashboard/js/waves.js"></script>
    <!--Counter js -->
    <script src="assets/dashboard/plugins/query.waypoints.js"></script>
    <script src="assets/dashboard/plugins/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="assets/dashboard/plugins/chartist.js"></script>
    <script src="assets/dashboard/plugins/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="assets/dashboard/plugins/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="assets/dashboard/js/custom.min.js"></script>
    <script src="assets/dashboard/js/dashboard1.js"></script>
    <script src="assets/dashboard/js/overlay.js"></script>
    <script type="text/javascript" src="assets/js/validator.js"></script>


    <!-- Bootstrap Core CSS -->
    <link href="assets/dashboard/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="assets/dashboard/plugins/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="assets/dashboard/plugins/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="assets/dashboard/plugins/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="assets/dashboard/plugins/chartist.min.css" rel="stylesheet">
    <link href="assets/dashboard/plugins/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="assets/dashboard/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/dashboard/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="assets/dashboard/css/colors/default.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    {{{ body }}}


</body>

</html>